.wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    border: 1px solid transparent;
    border-bottom: 2px solid #eedddd;
    border-radius: 0.25em;
    overflow: hidden;
    width: 100%;
    padding: 0.5em 0.75em;
    margin-top: 1em;
    background-color: #efefef;
}

.inputWrapper {
    position: relative;
    padding: 0 0 0 3em;
}

.input {
    width: 100%;
    font-size: 1.1rem;
    background-color: transparent;
    border: none;
    line-height: 2.5rem;
    flex: 1;
}

.input::-moz-placeholder {
    color: #8e8e8e;
    opacity: 1;
}

.input:-ms-input-placeholder {
    color: #8e8e8e;
}

.input::-webkit-input-placeholder {
    color: #8e8e8e;
}

.input:focus {
    outline: none;
}

.focused {
    border-bottom: 2px solid #0000ff !important;
}

.icon {
    position: absolute;
    left: 0.75em;
    transform: scale(1.1) translateY(-50%);
    top: 50%;
    color: #8e8e8e;
    flex: 1;
}

.addBtn {
    border: 1px solid transparent;
    padding: 0.5em 0.75em;
    border-radius: 0.35em;
    align-self: flex-end;
    margin-right: 2em;
    margin-top: 1em;
    background-color: #b4adad;
    color: #000000;
    cursor: pointer;
}

.addBtn:hover {
    background-color: #fee715ff;
}

.addBtn:disabled,
.addBtn[disabled] {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
    cursor: not-allowed;
}
