@font-face {
    font-family: 'Open-sans-Regular';
    src: url(../../public/fonts/OpenSans/OpenSans-Regular.ttf);
}
.main {
    display: grid;
    grid-template-columns: auto;
    font-family: 'Open-sans-Regular', Arial, sans-serif !important;
}

.oneItem {
    grid-template-columns: auto !important;
}

.childrenParent {
    padding: 1em;
}

@media (min-width: 50em) {
    .main {
        grid-template-columns: 17.5em auto;
    }
}
